doctype 5
html
  head
    title Thunnus
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
    script(src="./js/music-parser.js", defer)
    script(src="./js/theory.js", defer)
    script(src="./js/player.js", defer)
    script(src="./js/main.js", defer)

  body
    input(type="button", value="Play", onclick="play()")
