doctype 5
html(lang="en", ng:app="Player", ng:controller="Player")
  head
    title Auxis

    link(href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css", rel="stylesheet", type="text/css")

    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js")
    script(src="./js/music-parser.js", defer)
    script(src="./js/player.js", defer)

  body
    h2 Play
    ul
      li(ng:repeat="piece in pieces")
        input(type="button", value="{{piece.name}}", ng:click="play(piece)")

    p If no sound plays the first time, try reloading the page.
